
{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

{{! The big featured header on the homepage, with the site logo and description }}


<div class="teaserimage">
    <div class="teaserimage-image" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        Teaser Image
    </div>
</div>

<header class="blog-header">
    {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}" style="background-image: url({{@blog.logo}})">{{@blog.title}}</a>{{/if}}
    <h1 class="blog-title">{{@blog.title}}</h1>
    <h2 class="blog-description">{{@blog.description}}</h2>
    <div class="custom-links">
        <a href="https://twitter.com/bgnicoll" target="_blank"><i class="fa fa-twitter social-links"></i></a>&nbsp;&nbsp;
        <a href="https://github.com/bgnicoll" target="_blank"><i class="fa fa-github social-links"></i></a>&nbsp;&nbsp;
        <a href="http://stackoverflow.com/users/1136114/bnicoll" target="_blank"><i class="fa fa-stack-overflow social-links"></i></a>&nbsp;&nbsp;
        <a href="http://www.linkedin.com/in/brandonnicoll/" target="_blank"><i class="fa fa-linkedin social-links"></i></a>&nbsp;&nbsp;
    </div>
</header>

<script>
    (function ($) {
        "use strict";
    
        $(document).ready(function(){
    
            var $window = $(window),
                $image = $('.teaserimage-image');
            $window.on('scroll', function() {
                var top = $window.scrollTop();
    
                if (top < 0 || top > 1500) { return; }
                $image
                    .css('transform', 'translate3d(0px, '+top/3+'px, 0px)')
                    .css('opacity', 1-Math.max(top/700, 0));
            });
            $window.trigger('scroll');
    
        });
    
    }(jQuery));
</script>

{{! The main content area on the homepage }}
<main class="content" role="main">
    <div class="cf frame">
    {{#foreach posts}}
        {{#if featured}}
        {{else}}
            <article class="{{post_class}}" itemscope itemtype="http://schema.org/BlogPosting" role="article">
                <div class="article-item">
                    <header class="post-header">
                        <h2 class="post-title" itemprop="name"><a href="{{url}}" itemprop="url">{{{title}}}</a></h2>
                    </header>
                    <a href="{{url}}" itemprop="url">
	                    <section class="post-excerpt" itemprop="description" >
	                            {{content words="0"}}
	                    </section>
                    </a>
                    <div class="post-meta"><time datetime="{{date format='MM-DD-YYYY'}}">{{date format="MMM DD YYYY"}}</time> <span class="post-tags-set">{{tags prefix="on "}}</span></div>
                </div>
            </article>
        {{/if}}
    {{/foreach}}
    </div>


    {{!! After all the posts, we have the previous/next pagination links }}
    {{pagination}}

</main>

<footer class="site-footer">
    <div class="inner">
         <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
         <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org"> Ghost</a></section>
    </div>
</footer>